/** ************************************* **
	@Author			Dorin Grigoras
	@Website		www.stepofweb.com
	@Last Update	10:05 AM Sunday, January 12, 2014

	TABLE CONTENTS
	---------------------------
		01. Globals
		02. Nav Bar
		03. Slider
		04. Content
		05. Contact
		06. About Me
		07. Util
		09. Price Table
		10. Tabs
		11. Footer
		12. Portfolio
		13. Services
		14. Responsive
 ** ************************************* **/


/** 01. Globals
 **************************************************************** **/
html, body {
	overflow-x:hidden;
	overflow-x:hidden;
}
.container {
	position:relative;
}

.faded {/* portfolio, blog - on item hover */
	filter: alpha(opacity=30);
	opacity: 0.3;
}
	section.alternate div.faded {/* portfolio, blog - on item hover */
		filter: alpha(opacity=50);
		opacity: 0.5;
	}

.label {
	display:inline-block;
	margin:6px 1px 0 0;
	padding:5px 6px;

	-moz-border-radius:0;
		 border-radius:0;
}
	.label.light {
		color:#888;
		background-color:#eee;
	}

div.divider {
	height: 4px;
	width: 220px;
	border-top:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	margin:auto;
	margin-top:2px;
	margin-bottom:60px;
	text-align:center;
}

.styleColor {
	color:#2A2F36 !important;
}
.styleBackground {
	background-color:#2A2F36 !important;
}
.whiteColor {
	color:#fff !important;
}

.big-paragraph,
.big-paragraph p {
	font-size:25px;
	line-height:35px;
}

.plusNav {
	width: 36px;
	height: 36px;
	display: inline-block;
	border: 6px double #fff;
	background:#ccc;
	text-align:center;
	line-height:23px;
	font-size:30px;
	color:#fff;

	-moz-border-radius: 50%;
		 border-radius: 50%;

	-webkit-transition: all 300ms !important;
	   -moz-transition: all 300ms !important;
		 -o-transition: all 300ms !important;
			transition: all 300ms !important;
}
.plusNav:hover {
	border:6px solid #fff;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255,255,255,0.5);
	opacity:0.7;
}

h1.big-title {
	font-size:80px;
	line-height:80px;
}
.big-icons-demo i {
	font-size:50px;
}

section header h1,
section header h2,
section header h3 {
	color:#0F1113;
}
section {
	background:#ffffff;
}
	section.arrow-down {
		background:#ffffff url('../images/down_white.png') no-repeat top center
	}

section.alternate {
	background:#F6F6F6;
}
section.alternate.arrow-down {
	background:#F6F6F6 url('../images/down_alternate.png') no-repeat top center
}



/* BUTTONS - BOOTSTRAP REWRITE */
section .btn {
	margin-top:30px;
	text-shadow:none;
}

.btn.btn-primary,
.btn.btn-default,
.btn.btn-danger,
.btn.btn-warning,
.btn.btn-success,
.btn.btn-info {
	border:rgba(255,255,255,0.2) 2px solid;
	padding-left:25px;
	padding-right:25px;
	position:relative;

	-webkit-transition: all 300ms !important;
	   -moz-transition: all 300ms !important;
		 -o-transition: all 300ms !important;
			transition: all 300ms !important;
}
	.btn.btn-default {
		border:rgba(0,0,0,0.05) 2px solid;
	}
	.btn:hover {
		border:rgba(0,0,0,0.5) 2px solid !important;
	}
	.btn.btn-primary {
		background:#647282;
	}
	.btn.btn-primary:hover,
	.btn.btn-default:hover,
	.btn.btn-danger:hover,
	.btn.btn-warning:hover,
	.btn.btn-success:hover,
	.btn.btn-info:hover {
		color:#2A2F36;
		background:#fff;
	}

	.btn.nofill {
		background:none !important;
	}
	.btn.nofill:hover {
		color:#0F1113 !important;
		background:#fff !important;
	}


/* input box - example: newsletter subscribe */
.input-group.bordered {
	-moz-border-radius:0;
		 border-radius:0;

	border:rgba(255,255,255,0.2) 6px solid !important;
}
	.input-group.bordered .btn {
		border:0 !important;
		margin-left:1px !important;
	}
	.input-group.bordered input { border:0 !important; }


/* modal */
.modal {
	margin:50px 0 0 0;
	padding:0;
	overflow-y:auto;
}

.modal-content {
	-moz-border-radius:0 !important;
		 border-radius:0 !important;

	-moz-box-shadow:rgba(0,0,0,0.4) 0 0 3px !important;
		 box-shadow:rgba(0,0,0,0.4) 0 0 3px !important;
}

/* misc */
#newsletterForm .row div {
	padding:0 !important;
}
/* used by icons-fontawsome.html only */
.fa-hover a span {
	color:#000;
	font-size:16px;
}

/** 02. Nav Bar
 **************************************************************** **/
#header {
	margin:0; padding:0;
	position:relative;
	height:60px; margin-top:-60px;
	left:0; right:0; top:0;
	color:#fff;
	z-index:99;
}
#header.fixed {
	position:fixed;
	margin-top:0 !important;
	left:0; right:0; top:0;
}
#header .navbar {
	margin:0; padding:0;
}
#header a.navbar-brand {
	padding:0;
	color:#fff;
	height:60px;
	line-height:60px;
	font-size:25px;
	font-weight:400;
	text-transform:uppercase;
	padding-left:15px;
}
	#header a.navbar-brand .white {
		color:#fff;
	}
	#header a.navbar-brand .dark {
		color:#232428;
	}

	#header a.navbar-brand img {
		margin:0; padding:0;
		margin-top:-7px;
		margin-right:6px;
	}
#header .navbar-inverse {
	border:0;
	border-radius:0;
	background:#0F1113;
}
	#header .navbar-inverse ul.nav {
		margin-right:20px;
	}
	#header .navbar-inverse ul.nav a {
		color:#fff;
		text-transform:uppercase;
		font-size:14px;
		letter-spacing:.1em;
		font-weight:400;
		padding-top:20px;
		padding-bottom:20px;
	}
	#header .navbar-inverse ul.nav li.active a,
	#header .navbar-inverse ul.nav a:hover {
		color:#ABA798;
	}
	#header .navbar-collapse {
		padding:0;
	}
	#mobileMenu {
		color:#fff;
		display:none;
	}

/* white */
#header .navbar-inverse.white {
	background:#fff;
	box-shadow:#f6f6f6 0 2px 2px;
}
	#header .navbar-inverse.white  #mobileMenu,
	#header .navbar-inverse.white .navbar-brand {
			color:#0F1113;
	}
	#header .navbar-inverse.white ul.nav a:hover {
		color:#000;
	}

#header a.btn-fullscreen {
	display:inline-block;
	float:right;
	font-size:26px;
	background:#232428;
	color:#ABA798;
	right:0;
	top:0;
	bottom:0;
	width:60px;
	text-align:center;
	line-height:60px;
	display:none; /* visible via javascript */
}
#header  .navbar-inverse.white a.btn-fullscreen {
	background:#F6F6F6;
	color:#ccc;
}


/** 03. Slider
**************************************************************** **/
#home.full-screen {
	background:#f6f6f6;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
}
#slider .fullscreen-img {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%; height: 100%;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

#slider li {
	display:none;
}
.image-caption {
	text-align:center;
    position: absolute;
    left: 50%; top: 50%;
	margin-top:-30px; /* header height/2 */
    display: inline-block;
    max-width: 900px;
	z-index:1;
	color:#fff;

    -webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);

}
	#home .image-caption hr {
		width: 220px;
		height: 1px;
		background: #fff;
		margin: 2px auto;
		border: 0;
	}
	#home .image-caption h1,
	#home .image-caption h2 {
		font-family: 'Open Sans', sans-serif;
		font-weight:800;
		font-size:400%;
		line-height:95%;
		text-transform:uppercase;
		text-shadow:none;
		color:#fff;	display:block;
	}
	#home .image-caption p {
		font-family: 'Open Sans', sans-serif;
		font-size: 200%; line-height:100%;
		font-weight: 300;
		color: #fff;
		text-transform: uppercase;
		text-shadow:none;
	}
	#home .image-caption .inner {
		display:block;
		padding:40px 0;
	}
	#slider .image-caption img.img-responsive {/* if images used on the slider */
		width:100% !important;
		height:auto !important;
		position:relative !important;
		z-index:10 !important;
		left:auto !important;
		top:auto !important;
	}

	#home .overlay {
		position:absolute;
		left:0; right:0; top:0; bottom:0;
		background:rgba(0,0,0,0.3);
		z-index:0;
	}


	/* controlls */

	#slider a.next,
	#slider a.prev {
		top:50%;
		color: #fff;
		font-size: 62px;
		filter: alpha(opacity=50);
		opacity:0.5;

		-webkit-transition: all .2s ease-in-out;
		   -moz-transition: all .2s ease-in-out;
			-ms-transition: all .2s ease-in-out;
			 -o-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
	}
	#slider a.next:hover,
	#slider a.prev:hover {
		color: #fff;
		font-size: 70px;

		filter: alpha(opacity=100);
		opacity:1;
	}
	#slider a.prev { left: 10px }
	#slider a.prev:after {
		font-family: FontAwesome;
		content: '\f104';
	}
	#slider a.next { right: 10px }
	#slider a.next:after {
		font-family: FontAwesome;
		content: '\f105';
	}
/* half screen height */
#home.half-screen #slider,
#home.half-screen,
#home.half-screen li {
	height:550px !important;
	margin:0;
	padding:0;
}
	/* custom */
	#home.full-screen,
	#home.half-screen {
		background:#F0F0F0 url('../images/loading.gif') no-repeat center;
	}
	#slider .slides-pagination {
		bottom:100px;
	}
	#home.half-screen .slides-pagination {
		bottom:66px;
	}

#home.video {
	background-position:center center;
	background-repeat:no-repeat;
	background-size: cover;
}
#video-volume {
	bottom: 85px;
	left: 50%;
	margin: 0 0 0 -15px;
	position: absolute;
	z-index: 10;
	width: 30px;
	height: 30px;
	line-height: 26px;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fff;
	color: #FFFFFF;
	cursor: pointer;
}


/** 04. Content
 **************************************************************** **/
#ajax_modal {
	position:fixed;
	top:0; right:0; bottom:0; left:0;
	display:none;
	background:#fff;
	overflow-y:auto;
	z-index:999;
}
	#ajax_modal .btn-modal {
		display:block;
		margin-top:-80px;
		text-align:center;
		margin-bottom:30px;
	}
	#ajax_modal button.close-modal { 
		background:url('../images/icons/close.png') no-repeat; 
		background-position:-35px -33px; 
		display:inline-block; 
		width:73px; 
		height:73px; 
	}
	#ajax_modal button.close-modal:hover { 
		background-position:-35px -173px; 
	}

figure.top {
	position:absolute;
	top:4px;
}
figure.bottom {
	position:absolute;
	bottom:4px;
}

	/* SKILL CIRCLES */
	.skill {
		border:#fff 4px solid;
		border-bottom:none;
		width:200px; height:200px;
		text-align:center;
		position:relative;
		display:inline-block;
		margin:30px 15px;

		-moz-border-radius:50%;
			 border-radius:50%;
	}
	.skill  h2 {
		padding-top:40px;
		font-size:60px;
		line-height:60px;
		display:block;
		color:#fff;
	}
	.skill  h3 {
		display:inline-block;
		border-top:#fff 1px dashed;
		color:#fff;
		font-size:20px;
		line-height:20px;
		padding-top:8px;
		margin-top:8px;
	}
	.skill i {
		font-size:50px;
		position:absolute;
		display:block;
		bottom:-26px;
		left:50%;
		margin-left:-25px;
		color:#fff;
	}

section.cover,
div.inner-cover {
	position:relative;
	padding:150px 0;
	display:table;
	width:100%;
	background:#0F1113;
	background-position:center center;
	background-repeat:no-repeat;
	background-size: cover;
}
	div.inner-cover {
		margin-bottom:80px;
	}
	div.inner-cover h1,
	div.inner-cover h2,
	div.inner-cover h3 {
		color:#fff;
	}
	div.inner-cover.project {
		padding:200px 0;
	}

.cover * {
	color:#fff;
	position:relative;
	z-index:10;
} .cover .overlay { position:absolute; }

.cover q {
	font-size:40px;
	line-height:50px;
	display:block;
}
.cover cite {
	font-size:28px;
	padding-top:30px;
	display:block;
}

	/* pagination */
	ul.pagination li.active a,
	ul.pagination li.active a:hover {
		background-color:#0F1113;
		border-color:#ddd;
	}


/* 
	Isotope CSS3 transitions 
*/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}




/** 05. Contact
 **************************************************************** **/
div.contactModal .modal-content {
	border:0;
}
div.contactModal .btn-primary,
div.contactModal .modal-header {
	color:#fff;
	background-color:#0F1113;
}
div.contactModal .modal-header button {
	font-size:36px;
	margin-left:30px;
}
div.contactModal .modal-header button,
div.contactModal .modal-header h4 {
	color:#fff;
}
div.contactModal .modal-header i.fa {
	margin-right:8px;
}
 

/* google map */

#gmap {
	width:100%;
	height:400px;
	display:block;


	-webkit-filter: grayscale(100%);
	   -moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		   filter: grayscale(100%);
		   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		   filter: gray; 

	z-index:1;
}
	#googleMap address {
		position:absolute;
		background:#fff;
		padding:20px;
		left:20px; top:50px;
		z-index:2;
		width:280px;
		font-size:15px;
	}
	#googleMap address h2 {
		text-transform:uppercase;
		font-size:26px;
		line-height:26px;
	}
	#googleMap address h2:after {
		content: '\00A0 \2014';
	}
	#googleMap address ul {
		margin:30px 0 0 0;
	}
	#googleMap address .address-sprite {
		margin-bottom:20px;
		padding-left:30px; 
		background:url('../images/icons/address_sprite.png') no-repeat 0 0;
	}
	#googleMap address .address-sprite.address {
		background-position:0 0;
	}
	#googleMap address .address-sprite.phone {
		background-position:0 -138px;
		line-height:30px;
	}		
	#googleMap address .address-sprite.email {
		background-position:0 -247px;
	}




/** 06. About Me
 **************************************************************** **/
#about .me-picture {
	position:relative;
	display:block;
	margin-bottom:60px;
}

#about .me-picture .item {
	border:#fff 20px solid;
	display:inline-block;
	position:relative;
	z-index:1; overflow:hidden;

}
#about .me-picture img {
	border:#F6F6F6 10px solid;
	width:240px; height:240px;

	-moz-border-radius:50%;
		 border-radius:50%;
}
	#about .me-picture hr {
		margin:0 !important;
		position:absolute;
		top:50%; width:100%;
		z-index:0;
	}
#about .socials {
	display:none;
	position:absolute;
	width:240px; height:240px;
	line-height:236px;
	z-index:5; left:0; top:0;
	background:rgba(255,255,255,0.5);

	-moz-border-radius:50%;
		 border-radius:50%;
}
#about .socials a {
	background:rgba(15,17,19,0.7);
}
#about .me-picture h3 {
	background:rgba(15,17,19,0.7);
	display:block;
	color:#fff;
	padding:6px 6px 20px 6px;
	font-family:'Open Sans', sans-serif;
	font-size:16px; line-height:18px;
	position:absolute; left:0; right:0; bottom:0;
}
#about .member-name {
	position:absolute;
	left:0; right:0; bottom:0;
	display:block;
	border:transparent 10px solid;

	width:240px; height:240px;
	overflow:hidden; z-index:4;

	-moz-border-radius:50%;
		 border-radius:50%;

	-webkit-transition: all 300ms;
	   -moz-transition: all 300ms;
		 -o-transition: all 300ms;
			transition: all 300ms;
}
	#about .member-name h3 small {
		font-size:12px;
		display:block;
		margin-top:6px;
	}
#about .me-picture .item:hover .socials {
	display:block;
}


/** 07. Util Row 
	example: newsletter subscribe
 **************************************************************** **/
section.util-row {
	color:#fff;
	position:relative;
	overflow:hidden;
	background:#333;
	padding:40px 0;
}
section.util-row .btn {
	background:#333;
}
	section.util-row h1 {
		color:#fff;
	}
	section.util-row h2,
	section.util-row h3,
	section.util-row h4,
	section.util-row h5,
	section.util-row h6 {
		color:#fff;
	}
	section.util-row h3:after {
		content: '\00A0 \2014';
	}
	section.util-row div.separator { /* max-width:479px 	=> 	seaparator is on top */
		border-left:rgba(255,255,255,0.1) 1px solid;
	}
	section.util-row p {
		font-size:16px;
		line-height:20px;
	}

	/* 
		custom sections 
		Write here needed Paddings
	*/
	section.util-row .newsletter-subscribe { padding-top:10px; padding-bottom:10px; }	/* newsletter subvscribe */




/** 09. Price Table
 **************************************************************** **/
div.price-table {
	background:#f3f3f3;
	margin:0; padding:0;
	text-align:center;
	padding-bottom:30px;
	margin:30px 0;
}
	div.price-table h3 {
		font-size:25px;
		line-height:25px;
		padding:30px 0;
		border-bottom:#E7E7E7 2px solid;
		text-transform:uppercase;
	}
	div.price-table p {
		color:#666;
		font-size:26px;
		padding:30px 0;
		font-weight:400;
	}
	div.price-table p span {
		display:block;
		font-size:10px;
		font-weight:300;
		text-transform:uppercase;
	}
	div.price-table ul li {
		font-size:12px;
		border-bottom:#ddd 1px dashed;
		padding:8px;
		text-transform:uppercase;
	}
	div.price-table.popular,
	div.price-table.popular ul li,
	div.price-table.popular p,
	div.price-table.popular p span,
	div.price-table.popular h3 {
		color:#fff;
	}
	div.price-table.popular {
		background:#676767;
	}	



/** 10. Tabs
 **************************************************************** **/
	/*
		BOOTSTRAP TABS
	*/
	ul.bstrap-tabs {
		border:0;
		display:inline-block;
		margin:50px 0 30px 0;
	}
	ul.bstrap-tabs li a {
		font-size:17px;
		text-align:center;
		margin:0 3px;
		color:#666;
		border-bottom:0 !important;
		border-left:0 !important;
		border-right:0 !important;

	}
	ul.bstrap-tabs>li>a, 
	ul.bstrap-tabs>li>a:hover, 
	ul.bstrap-tabs>li>a:focus, 
	ul.bstrap-tabs>li.active>a, 
	ul.bstrap-tabs>li.active>a:hover, 
	ul.bstrap-tabs>li.active>a:focus {
		border-top:#999 1px solid;
	}
	ul.bstrap-tabs li.active a,
	ul.bstrap-tabs li.active a:hover {
		border-top:#647282 1px solid;
		background:#EEEEEE;
	}
	ul.bstrap-tabs li a i {
		display:block;
		font-size:30px;
		line-height:30px;
		color:#999;
		margin-top:-55px;
		margin-bottom:20px;
	}
	ul.bstrap-tabs li.active a,
	ul.bstrap-tabs li.active a i {
		color:#647282;
	}
	div.bstrap-tabs h2 {
		font-size:24px;
		margin-bottom:20px;
		text-align:center;
	}
	div.bstrap-tabs h2:after {
		content: '\00A0 \2014';
	}
	div.bstrap-tabs h2:before {
		content: '\2014 \00A0';
	}



/** 11. Footer
 **************************************************************** **/
footer {
	padding:10px 0;
	font-size:13px;
	background:#0F1113;
	position:relative;
}
	footer .copyright {
		padding-top:10px;
	}
	footer .copyright i.fa-heart {
		color:#D05B51;
	}
	footer .copyright a {
		color:#777;
	}
	footer .copyright a:hover {
		text-decoration:underline;
	}
	footer a.social {
		width:40px; height:40px;
		line-height:42px;
	}
footer a.toTop {
	position:absolute;
	left:50%; top:-23px;
	margin-left:-20px;
	background:rgba(0,0,0,0.5);
	padding:10px 16px;
	bottom:0;
	font-size:23px;
	z-index:100;
	color:#fff;

	-webkit-border-top-right-radius: 9px;
	 -webkit-border-top-left-radius: 9px;
		-moz-border-radius-topright: 9px;
		 -moz-border-radius-topleft: 9px;
			border-top-right-radius: 9px;
			 border-top-left-radius: 9px;
}


/** 12. Portfolio
 **************************************************************** **/
#portfolio .isotope-item {
	max-width:360px;
	display:inline-block;
	margin:8px;

	-webkit-transition: all 300ms !important;
	   -moz-transition: all 300ms !important;
		 -o-transition: all 300ms !important;
			transition: all 300ms !important;
}
#portfolio .isotope-item a {
	display:block;
	position:relative;
	overflow:hidden;
}
#portfolio .isotope-item .caption {
	position:relative;
	display:block;
	background:#fff;
	padding:40px 20px 20px 20px;
	text-align:center;
}
#portfolio .isotope-item .caption h3 {
	font-family:'Open Sans';
	font-size:14px;
	line-height:14px;
	font-weight:700;
}
#portfolio .isotope-item .caption p {
	font-size:12px;
	padding:0;
	text-transform:uppercase;
	display:inline-block;
	color:#999;
	border-top:#999 1px dashed;
	margin-top:6px;
}
#portfolio .isotope-item .caption i.fa {
	background:#333;
	padding:14px;
	color:#fff;
	position:absolute;
	width:50px; height:50px;
	margin-top:-66px;
	margin-left:-25px;
	left:50%;
	background:#fff;
	color:#0F1113;
	border:#fff 2px solid;
}
#portfolio .isotope-item a:hover i.fa {
	color:#2A2F36;
}
#portfolio .bstrap-tabs {
	margin-top:0;
}
	.project-thumbnails .row div {
		margin:5px 0;
	}
/* responsive - special resolutions */
@media only screen and (max-width: 1200px) {
	#portfolio .isotope-item {
		max-width:280px;
	}
}
@media only screen and (max-width: 640px) {
	#portfolio .isotope-item {
		max-width:360px;
	}
}


/** 13. Services
 **************************************************************** **/
.services {
	position:relative;
	text-align:center;
	color:#fff;
	display:block;
}
	.services h3 {
		font-family:'Open Sans', sans-serif;
		color:#fff;
		padding-top:20px;
		font-size:24px;
		line-height:24px;
	}

	a.service i,
	div.services-nav a,
	div.services-nav i.fa {
		-webkit-transition: all 300ms;
		   -moz-transition: all 300ms;
			 -o-transition: all 300ms;
				transition: all 300ms;
	}

.services a.service {
	display:inline-block;
	width:274px;
}
	.services  li {
		float:left;
		text-align:center;
	}

	/* navigation arrows */
	div.services-nav {
		display:block;
		margin-top:80px;
		padding-top:30px;
		border-top:rgba(255,255,255,0.1) 1px solid;
	}
	div.services-nav a {
		border:rgba(255,255,255,0.3) 2px solid;
		padding:6px;
	}
	div.services-nav i.fa {
		color:rgba(255,255,255,0.3);
		font-size:20px;
		padding:6px 10px;
	}
	div.services-nav a:hover {
		border:#fff 2px solid;
	}
	div.services-nav a:hover i {
		color:#fff;
	}

/* icon */
a.service i {
	display:inline-block;
	border:#fff 4px solid;
	width:130px; height:130px;
	line-height:120px;
	text-align:center;
	border-bottom:0;
	font-size:60px;
	color:#fff;

	-moz-border-radius:50%;
		 border-radius:50%;
}
a.service:hover i {
	color:#000;
	background:#fff;
}

	/* colors */
	a.service.orange i {
		border:#F07057 4px solid;
		border-bottom:0;
	}
		a.service.orange:hover i {
			color:#fff;
			background:#F07057;
		}

	a.service.green i {
		border:#7E8344 4px solid;
		border-bottom:0;
	} 
		a.service.green:hover i {
			color:#fff;
			background:#7E8344;
		}

	a.service.mauve i {
		border:#C91AC9 4px solid;
		border-bottom:0;
	}
		a.service.mauve:hover i {
			color:#fff;
			background:#C91AC9;
		}

	a.service.yellow i {
		border:#F1C40F 4px solid;
		border-bottom:0;
	}
		a.service.yellow:hover i {
			color:#fff;
			background:#F1C40F;
		}

	a.service.blue i {
		border:#377ef4 4px solid;
		border-bottom:0;
	}
		a.service.blue:hover i {
			color:#fff;
			background:#377ef4;
		}

	a.service.pink i {
		border:#F73F69 4px solid;
		border-bottom:0;
	}
		a.service.pink:hover i {
			color:#fff;
			background:#F73F69;
		}

	/* description bullet color */
	.service-desc .blue, a.service.blue i 		{ color:#377ef4; }
	.service-desc .yellow, a.service.yellow i 	{ color:#F1C40F; }
	.service-desc .mauve,a.service.mauve i 		{ color:#C91AC9; }
	.service-desc .orange, a.service.orange i 	{ color:#F07057; }
	.service-desc .green, a.service.green i 		{ color:#7E8344; }
	.service-desc .pink, a.service.pink i 		{ color:#F73F69; }

	/* description title and icon */
	.service-desc 								{ padding:15px; }
	.service-desc h3 							{ padding-bottom:20px; }
	.service-desc i 								{ font-size:11px; color:#ddd; }
	.service-desc p								{ padding-top:0; }
 



/** 14. Responsive
 **************************************************************** **/
@media only screen and (max-width: 960px) {
	div.services-nav {
		padding-left:36px;
	}

	figure.top {
		margin-top:0;
	}
}


@media only screen and (max-width: 768px) {
	section {
		text-align:center;
	}
	figure.pull-left,
	figure.pull-right {
		float:none !important;
		display:block !important;
		margin-bottom:30px !important;
	}

	#home .image-caption h1,
	#home .image-caption h2 {
		font-size:450%;	
	}

	#mobileMenu {
		display:block; 
		width:50px; height:60px;
		float:right;
		margin-right:15px;
		font-size:24px;
		text-align:right;
	}
	#header a.btn-fullscreen {
		display:none !important;
	}
	#header .navbar-inverse ul.nav a {
		padding:10px 30px;
	}

	a.service {
		width:49%;
		margin:15px 0;
	}

	section.util-row div.separator {
		margin-top:20px;
		padding-top:30px;
		border:0; text-align:center;
		border-top:rgba(255,255,255,0.1) 1px solid;
	}
	footer a.toTop {
		bottom:auto;
		-moz-border-radius:8px;
			 border-radius:8px;
	}
	footer .copyright {
		padding-top:30px;
		padding-bottom:30px;
	}
	footer div.text-right,
	footer {
		text-align:center; !important;
	}
}


@media only screen and (max-width: 479px) {
	#home .image-caption h1,
	#home .image-caption h2 {
		font-size:45px;
		line-height:45px;
	}
	#home .image-caption p {
		font-size:26px;
		line-height:30px;
	}
	#slider .slides-navigation a { 
		top:auto;
		bottom:30px;
	}
	#slider .slides-pagination {
		bottom:30px;
	}

	#header {
		position:fixed !important;
		left:0; top:0; right:0;
		margin-top:0 !important;
	}

	#services .cover {
		display:none;
	}

	.input-group.bordered input {
		font-size:15px;
		text-align:center;
	}
	.input-group.bordered,
	.input-group.bordered input,
	.input-group.bordered .input-group-btn,
	.input-group.bordered .btn {
		display:block !important;
		width:100% !important;
		margin:0 !important;
	}
	.input-group.bordered .input-group-btn .btn {
		margin-top:1px !important;
	}

	ul.bstrap-tabs {
		width:100%;
	}
	ul.bstrap-tabs li,
	ul.bstrap-tabs li a {
		width:100%;
		height:auto;
		display:block;
		margin:0 -1px;

		-moz-border-radius:0;
			 border-radius:0;
	}
	ul.bstrap-tabs li {
		margin-bottom:1px;
	}
	ul.bstrap-tabs li,
	ul.bstrap-tabs li a,
	ul.bstrap-tabs li.active a {
		border:0 !important;
	}
	ul.bstrap-tabs li.active a {
		border:0 !important;
		background:#eee !important;
	}
	ul.bstrap-tabs li a i {
		display:none;
	}
	
	.newsletter-subscribe {
		padding-right:15px !important;
	}

}